html {
    background-color: black;
}
/* Header */

.header-bar {
    border: 1px solid pink;
}

.h1-top {
    align-content: center;
}



a {
    color:seashell;
    opacity: 0.9;
    font-size: 22px;

}

.img {
    margin-left: 10px;
    opacity: 0.9;
}

.header-bar {
    display:flex;
    justify-content: space-between;

    

}